<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8"> 
   	<title>文档</title>
  	<style>
  		
  		a.navFont{
   			font-size: 150%;
   		}
   		
   		html, body{
   			height: 100%;
   		}
   		body{
   			text-align: center;
   		}
  	</style>
  	<link rel="icon" href="static/img/眼睛.png" type="image/x-icon">
   	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="static/js/product.js"></script>
	<script src="static/js/checkStatus.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body style="background: #F0F8FF;">
	<div class="container">
		<!--
        	作者：992109898@qq.com
        	时间：2017-05-05
        	描述：顶部
        -->
		<div class="row" style="text-align: center;">
			<div class="col-md-3" style="font-size: 150%; margin-top: .2cm;">
				<img src="static/img/眼睛.png" width="50px" height="50px"/>Hyr
				
			</div>
			<div style="float: right; margin-top: .5cm;">
				<input type="button" onclick="location.href='price.html'"  value="免费尝试" style="width:100px; height:30px;border:none;background: #FFFF00;"/>
				<a onclick="clickMyAccount()" href="#" style="margin-left: 10px;">我的账户
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</div>
		</div>
	
	</div>
	
	<!--
    	作者：992109898@qq.com
                 时间：2017-05-05
                 描述：导航栏
    -->
		
	<nav class="navbar navbar-default" role="navigation" 
				style="border: none; margin: 0;">
									
		<div class="container-fluid">
					
			<div>
				<ul class="nav navbar-nav">
					<li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li>
					
					<li><a href="index.html" class="navFont">主页</a></li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #20B2AA; font-size: 150%;">API<b class="caret"></b></a>
					<ul class="dropdown-menu" style="background: #F0F8FF; border: none;">
						<li><a href="emotion.html" style="color: #20B2AA;">表情识别</a></li>
						<li><a href="object.html" style="color: #20B2AA;">物品识别</a></li>
						<li><a href="face.html" style="color: #20B2AA;">人脸识别</a></li>
						<li><a href="carPlate.html" style="color: #20B2AA;">车牌识别</a></li>
					</ul>
					</li>
							
						<li><a href="app.html" class="navFont">应用</a></li>
						<li><a href="document.html" class="navFont">文档</a></li>
						<li><a href="price.html" class="navFont">价格</a></li>
				</ul>
			</div>
		</div>
	</nav>		
	
	<div style="width:1200px; background: white;
		display: inline-block; box-shadow: 10px 0 5px #888888;
		margin: 10px auto 0 0; height: 3600px;">
		
		<!--
        	作者：992109898@qq.com
        	时间：2017-05-12
        	描述：左边的tab，切换不同的API
        -->
        
        <div style="display: inline-block; float: left; 
        	background: #DCDCDC; height: 100%; 
        	margin: 0px 45px 0 20px;">
        	<div style="background: white; height: 120px;">
        		
        	</div>
			<ul id="tab" style="width: 300px; font-size: 200%;"
				 class="nav nav-pills nav-stacked">
				<li style="margin: 50px auto;">
					API 文档
				</li>
				
				<li class="active">
				
					<a href="#emotionTab" data-toggle="tab">
						<div style="display: inline-block; background: orange; font-size: 80%;
							 margin-right: 0; color: white; border-radius:10px">
								&nbsp; POST &nbsp; 
						</div>		
						表情识别
					</a>
				</li>
				<li>
					<a href="#objTab" data-toggle="tab">
						<div style="display: inline-block; background: orange; font-size: 80%;
							 margin-right: 0; color: white; border-radius:10px">
								&nbsp; POST &nbsp; 
						</div>
						物品识别
					</a>
				</li>
				<li>
					<a href="#faceTab" data-toggle="tab">
						<div style="display: inline-block; background: orange; font-size: 80%;
							 margin-right: 0; color: white; border-radius:10px">
								&nbsp; POST &nbsp; 
						</div>
						人脸识别
					</a>
				</li>
				<li>
					<a href="#carPlateTab" data-toggle="tab">
						<div style="display: inline-block; background: orange; font-size: 80%;
							 margin-right: 0; color: white; border-radius:10px">
								&nbsp; POST &nbsp; 
						</div>
						车牌识别
					</a>
				</li>
			</ul>
			
		</div>
		
	
		<style>
			p, h1{font-family:"Georgia", Times, serif;
				}
			h1{font-size: 350%; font-weight: bold;}
			h2{font-size: 300%;}
			p{font-size: 200%; line-height: 50px;}
		</style>
	
		<div class="tab-content" style="display: inline-block;
			margin: 0px auto 0 20px; float: left; height: 100%;
			background: white; width: 780px; ">
			<div style="height: 150px;"></div>
			<div class="tab-pane fade in active" id="emotionTab"
				style="text-align: left; ">
				
				<h1>表情API</h1>
				<br />
				<h2>表情识别</h2>
				<br />
				<p>从一张图像中识别一个或者多个人的表情，同时也返回人脸的位置。
				可识别的情绪包括开心，伤心，自然，惊恐四种。</p>
				<br />
				<p style="font-weight:900">注意:</p>
				<ul>
					<li>
						<p>输入图像文件类型包括JPEG，PNG，GIF，BMP，图像尺寸小于4M</p>
					</li>
					<li>
						<p>可识别的人脸像素大小在36×36和4096×4096之间，若人脸尺寸不在
						这个范围内，将不会被检测到。</p>
					</li>
					<li>
						<p>有些人脸由于技术性问题无法检测出来。
						例如：奇怪的Poss,巨大的人脸之类</p>
					</li>
					
				</ul>
				<br />
				<p style="font-weight: 900;">提供服务的方式：</p>
				<p>应用程序向服务器端Post信息，服务器返回Json串，
					Post请求的Json格式如下:</p>
				<br />
				<p style="color:blueviolet;">Request URL</p>
				<br />
				<p style="text-align: center; font-weight: bold;">
					http://westus.api.hyr.com/emotion
				</p>
				<br />
				<p style="color:blueviolet;">Request headers</p>
				<br />
				
				<ul style="list-style: none;">
					<li>
						<div style="display: inline-block;">
							<p style="font-weight: bold;">Content-Type</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>内容类型。(在线url或本地图片)</p>
						</div>
					</li>
				<br /><br />
					<li>
						<div style="vertical-align: middle; display: inline-block; width: 200px;">
							<p style="font-weight: bold;">Ocp-Apim-Subscription-Key</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>应用密钥，购买后显示在个人中心</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p style="color:blueviolet;">Request body</p>
				<ul style="list-style: none;">
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/json</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>{ "url": "http://example.com/picture.jpg" }</p>
						</div>
					</li>
					<br />
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/octet-stream</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>二进制文件</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p>服务器返回值：</p>
				<br />
				<p style="color:blueviolet;">Response 200</p>
				<br />
				<ul style="list-style: none;"><li>
				<p>成功返回，Json串格式如下：</p>
				<pre>
[
  {
    "faceRectangle": {
      "left": 68,
      "top": 97,
      "width": 64,
      "height": 97
	},
    "scores": {
      "happiness": 0.9875571,
      "neutral": 0.0009861537,
      "surprise": 0.008229999,
      "sadness":0.0015
    }
  }
]			</pre>
</li></ul>
			<br />
			<p style="color:blueviolet;">Response 400：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>Json串解析错误</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 401：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>APP Key错误，请到个人中心检查</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 409：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>超过对应套餐限定额</p>
			</ul></li>
			<br />
			
			<p style="color:blueviolet;">例子：</p>
			<ul style="list-style: none;">
				<li >
					<p>Python2.7(其余语言类似)</p>
<pre >
########### Python 2.7 #############
import httplib, urllib, base64

headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{subscription key}',
}

params = urllib.urlencode({
})

try:
    #ulr is mentioned above
    conn = httplib.HTTPSConnection('{url}')
    conn.request("POST", "/emotion" % params, "{body}", headers)
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))
</pre>
</div>
				
			<div class="tab-pane fade" id="objTab"
				style="text-align: left;">
				<h1>物品API</h1>
				<br />
				<h2>物品识别</h2>
				<br />
				<p>从一张图像中识别一种或者多种物品，同时也返回物品的位置。
				可识别的情绪包括猫，狗，人，车四种。</p>
				<br />
				<p style="font-weight:900">注意:</p>
				<ul>
					<li>
						<p>输入图像文件类型包括JPEG，PNG，GIF，BMP，图像尺寸小于4M</p>
					</li>
					<li>
						<p>可识别的物品像素大小在36×36和4096×4096之间，若物品尺寸不在
						这个范围内，将不会被检测到。</p>
					</li>
					<li>
						<p>有些物品由于技术性问题无法检测出来。
						例如：光照太强或太弱</p>
					</li>
					
				</ul>
				<br />
				<p style="font-weight: 900;">提供服务的方式：</p>
				<p>应用程序向服务器端Post信息，服务器返回Json串，
					Post请求的Json格式如下:</p>
				<br />
				<p style="color:blueviolet;">Request URL</p>
				<br />
				<p style="text-align: center; font-weight: bold;">
					http://westus.api.hyr.com/object
				</p>
				<br />
				<p style="color:blueviolet;">Request headers</p>
				<br />
				
				<ul style="list-style: none;">
					<li>
						<div style="display: inline-block;">
							<p style="font-weight: bold;">Content-Type</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>内容类型。(在线url或本地图片)</p>
						</div>
					</li>
				<br /><br />
					<li>
						<div style="vertical-align: middle; display: inline-block; width: 200px;">
							<p style="font-weight: bold;">Ocp-Apim-Subscription-Key</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>应用密钥，购买后显示在个人中心</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p style="color:blueviolet;">Request body</p>
				<ul style="list-style: none;">
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/json</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>{ "url": "http://example.com/picture.jpg" }</p>
						</div>
					</li>
					<br />
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/octet-stream</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>二进制文件</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p>服务器返回值：</p>
				<br />
				<p style="color:blueviolet;">Response 200</p>
				<br />
				<ul style="list-style: none;"><li>
				<p>成功返回，Json串格式如下：</p>
				<pre>
[
  {
    "objectRectangle": {
      "left": 68,
      "top": 97,
      "width": 64,
      "height": 97
	},
    "scores": {
      "cat": 0.9875571,
      "dog": 0.0009861537,
      "car": 0.008229999,
      "people":0.01
    }
  }
]			</pre>
</li></ul>
			<br />
			<p style="color:blueviolet;">Response 400：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>Json串解析错误</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 401：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>APP Key错误，请到个人中心检查</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 409：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>超过对应套餐限定额</p>
			</ul></li>
			<br />
			
			<p style="color:blueviolet;">例子：</p>
			<ul style="list-style: none;">
				<li >
					<p>Python2.7(其余语言类似)</p>
<pre >
########### Python 2.7 #############
import httplib, urllib, base64

headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{subscription key}',
}

params = urllib.urlencode({
})

try:
    #ulr is mentioned above
    conn = httplib.HTTPSConnection('{url}')
    conn.request("POST", "/face" % params, "{body}", headers)
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))
</pre>

			</div>
			<div class="tab-pane fade" id="faceTab"
				style="text-align: left;">
				<h1>人脸API</h1>
				<br />
				<h2>人脸识别</h2>
				<br />
				<p>从一张图像中识别一个或者多个人的人脸，同时也返回人脸的位置。
				</p>
				<br />
				<p style="font-weight:900">注意:</p>
				<ul>
					<li>
						<p>输入图像文件类型包括JPEG，PNG，GIF，BMP，图像尺寸小于4M</p>
					</li>
					<li>
						<p>可识别的人脸像素大小在36×36和4096×4096之间，若人脸尺寸不在
						这个范围内，将不会被检测到。</p>
					</li>
					<li>
						<p>有些人脸由于技术性问题无法检测出来。
						例如：奇怪的Poss,巨大的人脸之类</p>
					</li>
					
				</ul>
				<br />
				<p style="font-weight: 900;">提供服务的方式：</p>
				<p>应用程序向服务器端Post信息，服务器返回Json串，
					Post请求的Json格式如下:</p>
				<br />
				<p style="color:blueviolet;">Request URL</p>
				<br />
				<p style="text-align: center; font-weight: bold;">
					http://westus.api.hyr.com/face
				</p>
				<br />
				<p style="color:blueviolet;">Request headers</p>
				<br />
				
				<ul style="list-style: none;">
					<li>
						<div style="display: inline-block;">
							<p style="font-weight: bold;">Content-Type</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>内容类型。(在线url或本地图片)</p>
						</div>
					</li>
				<br /><br />
					<li>
						<div style="vertical-align: middle; display: inline-block; width: 200px;">
							<p style="font-weight: bold;">Ocp-Apim-Subscription-Key</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>应用密钥，购买后显示在个人中心</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p style="color:blueviolet;">Request body</p>
				<ul style="list-style: none;">
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/json</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>{ "url": "http://example.com/picture.jpg" }</p>
						</div>
					</li>
					<br />
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/octet-stream</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>二进制文件</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p>服务器返回值：</p>
				<br />
				<p style="color:blueviolet;">Response 200</p>
				<br />
				<ul style="list-style: none;"><li>
				<p>成功返回，Json串格式如下：</p>
				<pre>
[
  {
    "faceRectangle": {
      "left": 68,
      "top": 97,
      "width": 64,
	  "height": 97
	},
   
  }
]			</pre>
</li></ul>
			<br />
			<p style="color:blueviolet;">Response 400：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>Json串解析错误</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 401：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>APP Key错误，请到个人中心检查</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 409：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>超过对应套餐限定额</p>
			</ul></li>
			<br />
			
			<p style="color:blueviolet;">例子：</p>
			<ul style="list-style: none;">
				<li >
					<p>Python2.7(其余语言类似)</p>
<pre >
########### Python 2.7 #############
import httplib, urllib, base64

headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{subscription key}',
}

params = urllib.urlencode({
})

try:
    #ulr is mentioned above
    conn = httplib.HTTPSConnection('{url}')
    conn.request("POST", "/object" % params, "{body}", headers)
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))
</pre>

			</div>
			<div class="tab-pane fade" id="carPlateTab"
				style="text-align: left;">
				<h1>车牌API</h1>
				<br />
				<h2>车牌识别</h2>
				<br />
				<p>从一张图像中识别一个或者多个车牌，同时返回车牌的位置和车牌号</p>
				<br />
				<p style="font-weight:900">注意:</p>
				<ul>
					<li>
						<p>输入图像文件类型包括JPEG，PNG，GIF，BMP，图像尺寸小于4M</p>
					</li>
					<li>
						<p>可识别的车牌像素大小在36×36和4096×4096之间，若车牌尺寸不在
						这个范围内，将不会被检测到。</p>
					</li>
					<li>
						<p>有些车牌由于技术性问题无法检测出来。
						例如：车牌遮挡，光线太强或太弱</p>
					</li>
					
				</ul>
				<br />
				<p style="font-weight: 900;">提供服务的方式：</p>
				<p>应用程序向服务器端Post信息，服务器返回Json串，
					Post请求的Json格式如下:</p>
				<br />
				<p style="color:blueviolet;">Request URL</p>
				<br />
				<p style="text-align: center; font-weight: bold;">
					http://westus.api.hyr.com/carPlate
				</p>
				<br />
				<p style="color:blueviolet;">Request headers</p>
				<br />
				
				<ul style="list-style: none;">
					<li>
						<div style="display: inline-block;">
							<p style="font-weight: bold;">Content-Type</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>内容类型。(在线url或本地图片)</p>
						</div>
					</li>
				<br /><br />
					<li>
						<div style="vertical-align: middle; display: inline-block; width: 200px;">
							<p style="font-weight: bold;">Ocp-Apim-Subscription-Key</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>应用密钥，购买后显示在个人中心</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p style="color:blueviolet;">Request body</p>
				<ul style="list-style: none;">
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/json</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>{ "url": "http://example.com/picture.jpg" }</p>
						</div>
					</li>
					<br />
					<li>
						<div style="vertical-align: middle;">
							<p style="font-weight: bold;">application/octet-stream</p>
						</div>
						<div style="display: inline-block; margin-left: 50px;">
							<p>二进制文件</p>
						</div>
					</li>
				</ul>
				<br /><br />
				<p>服务器返回值：</p>
				<br />
				<p style="color:blueviolet;">Response 200</p>
				<br />
				<ul style="list-style: none;"><li>
				<p>成功返回，Json串格式如下：</p>
				<pre>
[
  {
    "carPlateRectangle": {
      "left": 68,
      "top": 97,
      "width": 64,
      "height": 97
	},
    "carPlate":粤A00000 
  }
]			</pre>
</li></ul>
			<br />
			<p style="color:blueviolet;">Response 400：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>Json串解析错误</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 401：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>APP Key错误，请到个人中心检查</p>
			</ul></li>
			<br />
			<p style="color:blueviolet;">Response 409：</p>
			<br />
			<ul style="list-style: none;"><li>
			<p>超过对应套餐限定额</p>
			</ul></li>
			<br />
			
			<p style="color:blueviolet;">例子：</p>
			<ul style="list-style: none;">
				<li >
					<p>Python2.7(其余语言类似)</p>
<pre >
########### Python 2.7 #############
import httplib, urllib, base64

headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{subscription key}',
}

params = urllib.urlencode({1
})

try:
    #ulr is mentioned above
    conn = httplib.HTTPSConnection('{url}')
    conn.request("POST", "/carPlate" % params, "{body}", headers)
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))
</pre>

			</div>
		</div>
		
	</div>
</body>
</html>