<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8"> 
   	<title>人脸识别</title>
  	<style>
  		
  		a.navFont{
   			font-size: 150%;
   		}
   		
  	</style>
  	<link rel="icon" href="static/img/眼睛.png" type="image/x-icon">
   	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="static/js/product.js"></script>
	<script src="static/js/checkStatus.js"></script>
	<script type="text/javascript" src="static/js/configuration.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js"></script>
	<script>
		$().ready(function(){
			var showDiv = document.getElementById("show_face_image");
			var img = document.createElement("img");
			img.src = $(".backupImage")[0].src;
			img.onload=function(){
				setDetectImage(img, "face");
			}
			
		});
		
		function changeFileUpload(){
			var pic = $("#face_file_upload_bnt").get(0).files[0];
        	uploadFile();
        	//$("#show_image").html("<div class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%;'>0%</div>");
        }
		
		function uploadFile(){
	        var pic = $("#face_file_upload_bnt").get(0).files[0];
	        var formData = new FormData();
	        formData.append("img" , pic);
	        
	        $.ajax({
	            type: "POST",
	            url: server_url+"/face_file",
	            data: formData,
	            processData : false,  
	            cache: false,
	            //必须false才会自动加上正确的Content-Type   
	            contentType : false ,
	            success:function(jsonStr) {  
	            	var data = $.parseJSON(jsonStr);
					setDetectImageByURL(window.URL.createObjectURL(pic), data, "face");    
					setJsonDiv(data, "face");
     			},    
	        });
    	}
		
	
	</script>
</head>

<body style="background: #F0F8FF;">
	<div class="container">
		<!--
        	作者：992109898@qq.com
        	时间：2017-05-05
        	描述：顶部
        -->
		<div class="row" style="text-align: center;">
			<div class="col-md-3" style="font-size: 150%; margin-top: .2cm;">
				<img src="static/img/眼睛.png" width="50px" height="50px"/>Hyr
				
			</div>
			<div style="float: right; margin-top: .5cm;">
				<input type="button" onclick="location.href='price.html'"  value="免费尝试" style="width:100px; height:30px;border:none;background: #FFFF00;"/>
				<a onclick="clickMyAccount()" href="#" style="margin-left: 10px;">我的账户
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</div>
		</div>
	
	</div>
	
	<!--
    	作者：992109898@qq.com
                 时间：2017-05-05
                 描述：导航栏
    -->
		
	<nav class="navbar navbar-default" role="navigation" 
				style="border: none; margin: 0;">
									
		<div class="container-fluid">
					
			<div>
				<ul class="nav navbar-nav">
					<li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li>
					
					<li><a href="index.html" class="navFont">主页</a></li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #20B2AA; font-size: 150%;">API<b class="caret"></b></a>
					<ul class="dropdown-menu" style="background: #F0F8FF; border: none;">
						<li><a href="emotion.html" style="color: #20B2AA;">表情识别</a></li>
						<li><a href="object.html" style="color: #20B2AA;">物品识别</a></li>
						<li><a href="face.html" style="color: #20B2AA;">人脸识别</a></li>
						<li><a href="carPlate.html" style="color: #20B2AA;">车牌识别</a></li>
					</ul>
					</li>
							
						<li><a href="app.html" class="navFont">应用</a></li>
						<li><a href="document.html" class="navFont">文档</a></li>
						<li><a href="price.html" class="navFont">价格</a></li>
				</ul>
			</div>
		</div>
	</nav>		
	
	<div style="background-image: url(static/img/face/face.jpg); height: 400px; background-size: cover;">
		
		<div style="margin: 0 0 0 400px ;color:white;border-top: 1px groove; width: 300px; height: 400px;">
			<style>
				p{font-size: 120%;}
			</style>
			<p style="margin: 100px 0 0 0px ; font-size: 200%; font-weight: bold;">人脸识别</p>
			<br />
			<p>功能：</p>
			<p>1.识别人脸</p>
			<p>2.比较相似人脸</p>
			<p>3.相似人脸聚类</p>
			<br />
			
		</div>
		
	</div>
	
	<!--
    	作者：992109898@qq.com
    	时间：2017-05-06
    	描述：介绍内容
    -->
	<div class="container" style="margin-top: 1cm;">
		<div class="center-block" style="text-align: center;">
			<p style="font-size: 250%;">人脸识别服务</p>
			<p>首先，对于给定的图像，检测一个或者多个人脸，返回值是人脸区域位置</p>
			<p>这是一个跨平台的API，支持的平台包括 iOS, Android, 和 Windows</p>
			<p>支持多种语言调用，使用json作为数据传输格式</p>
			<br />
			<p>以下是图片及其示例</p>
		</div>
	
	<br /><br />
	<!--
    	作者：992109898@qq.com
    	时间：2017-05-09
    	描述：展示内容
    -->


		<div class="row">
			<style>
			div.show{
				background:	#D3D3D3; 
				vertical-align: top;
				margin:0 5px 0 5px;
				text-align: center;
				display: table;
				width: 500px;
				height: 500px;
				position: relative;
				padding: 0;
				}
			</style>
			<div class="show col-md-6" id="show_face_image" style="margin-left: 2.15cm;">
				
			</div>
			<div class="show col-md-6" id = "face_show_json" style="overflow:scroll; text-align: left; ">
				
			</div>
		</div>
		<br />
		<!--
        	作者：992109898@qq.com
        	时间：2017-05-09
        	描述：通过url文件输入和通过本地文件上传
        -->
        
		<div class="row">
			<input type="text" id="imageURL" placeholder="图像URL" style="display:inline-block;width:380px; height:30px;margin-left: 2.16cm;"/>	
			<input type="button" onclick="clickSubmit('face')" value="提交" style="display:inline-block;font-size:110%; height:30px;background: #1E90FF; color: white; width: 70px; border: none;"/>
			<style>
				.file {
				    position: relative;
				    display: inline-block;
				    background: #D0EEFF;
				    border: 1px solid #99D3F5;
				    padding: 4px 12px;
				    overflow: hidden;
				    color: #1E88C7;
				    text-decoration: none;
				    text-indent: 0;
				    line-height: 20px;
				    vertical-align: top; 
				}
				.file input {
				    position: absolute;
				    font-size: 100px;
				    right: 0;
				    top: 0;
				    opacity: 0;
				}
				.file:hover {
				    background: #AADFFD;
				    border-color: #78C3F3;
				    color: #004974;
				    text-decoration: none;
				}
			</style>
			
			<div href="javascript:;" class="file" >
				<span class="glyphicon glyphicon-folder-open"></span>
    			<input accept="image/*" type="file" name="img" onchange="changeFileUpload()" id="face_file_upload_bnt">
			</div>
			
			
		</div>
		
		<br />
		
		
	</div>
	
	<div style="text-align: center;">
		<style>
			img.backupImage{
				text-align: center;
				border: none;
				width: 175px;
				height: 175px;
				display: inline-block;
				background: #F0F8FF;	
			}
			
		</style>
		
		<div style="display: inline-block;" >
			<button id="bnt1" style="margin: 40px 15px 40px 15px; border: none; background: white;">
				<img src="static/img/face/0.jpg" class="backupImage" id="testid" onclick="setDetectImage(this, 'face')"/>
			</button>
			<button style="margin: 40px 15px 40px 15px; border: none; background: white;">
				<img src="static/img/face/1.jpg" class="backupImage" id="testid" onclick="setDetectImage(this, 'face')"/>
			</button>
			<button style="margin: 40px 15px 40px 15px; border: none; background: white;">
				<img src="static/img/face/2.jpg" class="backupImage" id="testid" onclick="setDetectImage(this, 'face')"/>
			</button>
			<button style="margin: 40px 15px 40px 15px; border: none; background: white;">
				<img src="static/img/face/3.jpg" class="backupImage" id="testid" onclick="setDetectImage(this, 'face')"/>
			</button>
			<button style="margin: 40px 15px 40px 15px; border: none; background: white;">
				<img src="static/img/face/4.jpg" class="backupImage" id="testid" onclick="setDetectImage(this, 'face')"/>
			</button>
		</div>
		
		
	</div>
	
	<br />
	<div style="background: #F8F8FF; width:auto; height: 300px; padding: 100px 320px 100px 320px;">
		<div style="background:	#6495ED; height: 150px;">
			<div style="float:left; color:white; font-weight:bold;font-size:130%; margin: 60px auto 50px 100px;">免费尝试，开启人工智能新时代</div>
			<button onclick="location.href='price.html'" style="float: right; color:#6495ED; background: white; border: none; margin: 60px 100px 50px auto; width:100px; height: 35px; font-weight: bold;">免费尝试</button>
		</div>
	</div>
</body>
</html>